<%- include('global/header', {title: data.state}); %>

<h2><%=data.state%></h2>
<body>In <%=data.state%>, the Democratic candidate received <%=Dpercent%> percent of the vote and <%=data.Dvotes%> votes,
   while the Republican candidate received <%=Rpercent%> percent of the vote and <%=data.Rvotes%> votes.<br>
   Nationally, the Democratic candidate received 51 percent of the vote and 81282376 votes,
   while the Republican candidate received 47 percent of the vote and 74222576 votes.

   <br>
   In <%=data2.state%>, the average life expectancy is <%=data2.avg%>. The national life expectancy is 78.7.
 </body>

<div id="electionpie"></div>
<div id="lifechart"></div>

<%- include ('global/footer'); %>
<script src="../js/plotly-latest.min.js"></script>
<script>

  let election = <%-election%>

  let life = <%-life%>

  console.log(election.state);
    console.log(life);

let electionpie = document.getElementById("electionpie");
let lifechart = document.getElementById("lifechart");

var data = [{
  values: [election.Dvotes, election.Rvotes, election.Ovotes],
  labels: ['Democrat', 'Republican', 'Other'],
  marker: {
  colors: [
    'rgb(0, 170, 255)',
    'rgb(184,12,9)',
    'rgb(82, 98, 135)'
  ]
},
  domain: {column: 0},
  name: 'Votes',
  hoverinfo: 'label+percent+name',
  hole: .4,
  type: 'pie'
},
{
  values: [81282376, 74222576, 2890419],
  labels: ['Democrat', 'Republican', 'Other'],
  domain: {column: 1},
  name: 'Votes',
  hoverinfo: 'label+percent+name',
  hole: .4,
  type: 'pie'
}];

var layout = {
  title: 'Vote Share in 2020 Presidential Election',
  annotations: [
    {
      font: {
        size: 20
      },
      showarrow: false,
      text: election.state,
      x: 0,
      y: -0.2
    },
    {
      font: {
        size: 20
      },
      showarrow: false,
      text: 'National',
      x: 0.85,
      y: -0.2
    }
  ],
  height: 400,
  width: 600,
  showlegend: true,
  grid: {rows: 1, columns: 2}
};

Plotly.newPlot('electionpie', data, layout);

var data2 = [
  {
    x: [life.state, 'National'],
    y: [life.avg, 78.7],
    marker:{
  color: ['#B80C09', 'rgba(222,45,38,0.8)']
},
    type: 'bar'
  }
];
var layout2 = {
title: 'Life Expectancy',
 yaxis: {title: 'Life Expectancy (years)'},
  height: 400,
  width: 600,
}

Plotly.newPlot('lifechart', data2, layout2);


</script>
</body>

</html>
